PREFIX=*
PORT=8080
APPSTATE_FILE=sessions/appstate.json
OWNER_IDS=61571550050635,100024220812646
LOG_LEVEL=info
DB_URL=sqlite://database/sqlite.db
API_KEYS={"OPENAI":"sk_your_openai_key_here","GEMINI":"your_gemini_key_here","STABLE_DIFFUSION":"hf_your_stable_diffusion_key_here","TTS":"AIzaSyDdzsxzYZAoBCxF-TXQyVhd52_Tslu-FXU","YOUTUBE":"AIzaSyBPdGN3eMhswfSKWoaomzdlEftf3NjV1gM","SOUNDCLOUD":"M4TSyS6eV0AcMynXkA3qQASGcOFQTWub"}
